<h1>Results</h1>
<%= form_tag "/search", method: "GET" do %>
  <%= label_tag :q, "Search" %>
  <%= text_field_tag :q %>
  <%= submit_tag "Search" %>
<% end %>
<%= link_to "Back", root_path %>
<% @movies.each do |movie| %>
  <section>
    <header><%= movie.title %></header>
    <p><%= movie.description %></p>
    <b><%= movie.year_released %></b>
  </section>
<% end %>